@{
    ViewData["Title"] = "Home"; <!-- Define o título da página como "Home", que será mostrado no título da aba do navegador -->
}

<div class="content"> <!-- Início da seção principal de conteúdo -->
    <h2>Rômulo Richard</h2> 
    <p>Desenvolvedor Full Stack</p> 
    <a href="#" class="btn">Saiba mais</a>
</div>
